/******************************
IMAGE AREA
******************************/

* {
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: rgb(219, 219, 219);
    line-height: 1.5em;
}

h1, p {
    text-align: center;
}

/******************************
FIGURE
******************************/

#img-div {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#image {
    max-width: 100%;
    height: auto;
}

#img-caption {
    margin-top: 15px;
}

/******************************
SECTION
******************************/

#tribute-info {
    margin: 0 auto;
    max-width: 600px;
}

#tribute-info h3 {
    text-align: center;
    margin: 60px 0px 30px 0px;

}

#tribute-info li {
    margin-bottom: 15px;
}

ul {
    line-height: 1.5em;
}

/* blockquote */
blockquote {
    margin: 60px 0 90px;
}



