/******************************
GENERAL STYLES
******************************/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color:rgb(219, 219, 219);
  font-family: 'Ubuntu'; sans-serif;
  text-align: center;
  font-size: 0.9rem;
  line-height: 1.6rem;
}

/******************************
HEADER
******************************/

#main {
  margin: auto;
  width: 320px;
}

#main h1 {
  margin: 60px auto 20px;
}


/******************************
IMAGE AND CAPTION
******************************/

#img-div {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#image {
  margin-top: 30px;
  max-width: 100%;
  height: auto;
}

#img-caption {
  font-size: 0.8rem;
  margin-top: 5px;
}

/******************************
TIMELINE SECTION
******************************/

#tribute-info {
  margin: 60px auto 20px;
  
}

#tribute-info h2 {
  margin: 60px auto 20px;
}

#tribute-info li {
  margin-bottom: 15px;
  list-style: none;
}

#tribute-info blockquote {
  margin: 40px auto 60px;
}

/******************************
FOR LARGER SCREENS
******************************/

@media only screen and (min-width: 600px) {
  #main {
    width: 500px;
    font-size: 1.1em;
  }
  #main ul {
    text-align: left;
  }
}

@media only screen and (min-width: 992px) {
  #main {
    width: 620px;
  }
  #img-div {
    font-size: 0.9rem;
    margin: 10px auto;
  }
  h1 {
    font-size: 2.2rem;
  }
  h4 {
    font-size: 1.2em;
  }
}